<h1 class="title"><%= category.name %></h1>
<p><%= category.description %></p>
    <div class="buttons is-right">
	    <%= button_to 'Edit', edit_category_path(category), method: :get, class:"button is-link" %>
        <%= button_to 'Delete', category, method: :delete, data: { confirm: "Are you sure?" }, class:"button is-danger" %>
    </div>
<div>
    <div id="tasks_wrapper" >
        <div class="media">
            <div id="form">
                <%= form_for([category, category.tasks.build]) do |f| %>
                    <%= f.text_field :name, placeholder: "New Task", class:"input"%>
                    <%= f.submit class:"button" %> 
                <% end %>
            </div>
        </div>
        <div class="media">
            <ul>
                <% category.tasks.each do |task| %>
                    <div class="media-name">
                       <li><%= task.name %><li>
                    </div>
                <% end %>
            </ul> 
        </div>

    </div>
</div>
