
<h1 class="title">Categories</h1>

<div class="section">
    <div class="container">
    <%= button_to "Add new category", '/categories/new', method: :get, class:"button" %>
            <%= @categories.each do |category| %>
                <div class="card">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <%= render category %>
                                <%# <%= render "tasks/form" %> %>
                                <%# <h3><%= button_to "delete" , category, method: :delete %></h3> %>
                            </div>
                        </div>
                    </div>
                </div>
            <% end %>
            

    </div>
</div>
