<h1 class="title"><%= @category.name %></h1>
<div>
    <p><%= @category.description %></p>
        <div id="tasks_wrapper" >
            <% if @category.tasks.try(:any?) %>
                <%# <%= render @category.tasks %>% %>
                <%# <% if @category.tasks.present? %> %>
                <%= @category.tasks.each do |task| %>
                    <div class="media-content">
                    <%= task.name %>
                    </div>
                <% end %>
                <% end %>
            <%# <% end %> %>
            
                <%= render "tasks/form" %>
            </div>  
        </div>
    <h3><%= button_to "delete" , @category, method: :delete %></h3>
</div>
